.navbar-nav{
    position: absolute;
    padding-right: 5%;
    width: 100%;
    height: 29px;
    left: 60%;
    top: 20px;
    font-family: 'Fredoka One';font-size: 22px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.navbar{
    background-color: white;
}

.navbar-brand{
    position: relative;
    left: 50px;
}

body{
    background-color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FAABA7 !important;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 160px;
    filter: drop-shadow(0px 4px 4px gray);
}

.card{
    position: relative;
    top: 90px;
    left: 50px;
    border: none;
}

.card-title{
    color:#FAABA7;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.4vw;
    line-height: 4vw;
}

.card-text{
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.dropdown{
    display: none;
}

@media all and (max-width: 1025px){
    
    .collapse{  /* navbar elements */
        display: none;
    }
    .dropdown{
        display: inline-block;
        padding-right: 10%;
        
    }
}

@media all and (max-width: 968px){
    
}

@media all and (max-width: 728px){

}
